@model Kurs

<p>
    <b>@Model.Baslık </b> baslıklı kursu silmek istiyor musunuz?

    <form asp-action="Delete" method="post">

        <input type="hidden" name="id" value="@Model.KursId">
        <button type="submit" class="btn btn-danger">evet</button>
        <a asp-action="Index" class="btn btn-primary">hayır</a>
    </form>


</p>